/* DOCUMENT INFORMATION
    - Document: Site DRONE VIRTUAL IMAGES
    - Version : 2.0.1 du 20/05/2021 (V1 : 17/11/2020)
    - Réalisé par: Vincent NGUYEN
*/
/* COLORS
    - default body text     white
    - h1                    rgb(255, 204, 51) or white
    - h2                    rgb(255, 204, 51) or white
    - h3                    rgb(255, 204, 51) or white
    - p                     white
    - border:               black     
*/
/* FONTS
    - Default:              'roboto'
*/
/* CSS DIRECTORY
    0.  GLOBAL
        0.1 SASS
        0.2 MENU PAGES SAUF ACCUEIL
        0.3 BLOCS & BOUTONS-TITRES
        0.4 BOUTONS RETROUR HAUT DE PAGE

    1.  PAGE ACCUEIL
        1.1 INTRO
        1.2 LOGO
        1.3 MENU PAGE ACCUEIL
        1.4 PHOTOS STYLE PELLICULE

    2.  PAGE PRESTATIONS AVEC DRONES
        2.1 PRESENTATION EN ACCORDEON (utilisé pour page VISITES VIRTUELLES 3D également)
            
    3.  PAGE VISITES VIRTUELLES 3D
            
    4.  PAGE GALERIES
        4.1 VIDEOS

    5.  PAGE CONTACT
    
    6.  FOOTER
*/

/* ============================== 0. GLOBAL ============================== */

/* SASS */

@mixin cadre ($width) {
    width: $width;
    margin: auto;
}

/* FIN SASS */

body {
    background: linear-gradient(0.25turn, #000000, #345879, #000000);
    width: 100%;
    min-width: 280px;
    color: white;
    padding-top: 50px;
    font-family: roboto, arial;
}

h3 {
    @include cadre (85%);
    color: rgb(255, 204, 51);
    text-align: right;
    transition: all ease-in 0.2s;

    @media (max-width: 812px) {
        font-size: 1.5rem;
    }

    @media (max-width: 731px) {
        font-size: 1.25rem;
    }

    @media (max-width: 667px) {
        font-size: 1.2rem;
    }

    @media (max-width: 653px) {
        font-size: 1.1rem;
    }

    @media (max-width: 540px) {
        font-size: 0.9rem;
    }

    @media (max-width: 280px) {
        font-size: 0.8rem;
    }
}

h3:hover {
    color: #d9524a;
    transition: all ease-in 0.2s;
}

span {
    color: rgb(255, 204, 51);
}

p,
li {
    @include cadre (85%);
    text-align: justify;
    padding: 5px 0;
    font-size: 1.5rem;

    @media (max-width: 1366px) {
        padding: 5px 0;
        font-size: 1.2rem;
    }

    @media (max-width: 1024px) {
        font-size: 1.2rem;
    }

    @media (max-width: 812px) {
        font-size: 0.9rem;
    }

    @media (max-width: 768px) {
        font-size: 1.2rem;
    }

    @media (max-width: 736px) {
        font-size: 0.8rem;
    }

    @media (max-width: 720px) {
        font-size: 0.8rem;
    }

    @media (max-width: 411px) {
        font-size: 1rem;
    }

    @media (max-width: 375px) {
        font-size: 0.9rem;
    }

    @media (max-width: 320px) {
        font-size: 0.8rem;
    }

    @media (max-width: 280px) {
        font-size: 0.75rem;
    }
}

.bloc-center {
    text-align: center;
}

/* MENU PAGES SAUF ACCUEIL*/

.navbar {
    border-bottom: 2px solid black;
}
.menu {
    @include cadre (75%);
    margin-bottom: 100px;
}

.navbar-brand-color {
    color: rgb(255, 204, 51);
    margin-right: 100px;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    transition: all ease-in 0.2s;

    @media (max-width: 1366px) {
        font-size: 1.2em;
        margin-right:50px;
    }

    @media (max-width: 1024px) {
        font-size: 1.2em;
        margin-right:0;
    }

    @media (max-width: 375px) {
        font-size: 1em;
    }

    @media (max-width: 320px) {
        font-size: 0.8em;
        margin-left: 12px;
    }

    @media (max-width: 320px) {
        font-size: 0.7em;
        margin-left: 12px;
    }
}

.navbar-brand-color:hover {
    text-shadow: 0 0 2px #d9524a;
    transition: all ease-in 0.2s;
    color: #d9524a;
}

a.nav-link {
    text-align: center;
    transition: all ease-in 0.2s;
    margin: auto 50px;

    @media (max-width: 1668px) {
        margin: auto 40px;
    }

    @media (max-width: 1024px) {
        margin: auto 20px;
    }
}

a.nav-link:hover {
    text-shadow: 0 0 2px black;
    transition: all ease-in 0.2s;
}

.drone-link {
    min-width: 275px;

    @media (max-width: 1520px) {
        min-width: 10px;
    }
}

.visites-link {
    min-width: 225px;

    @media (max-width: 1520px) {
        min-width: 10px;
    }
}

/* BLOCS & BOUTONS-TITRES */

.bloc {
    @include cadre (75%);
    padding-bottom: 50px;

    @media (max-width: 1366px) {
        @include cadre (95%);
    }
}

.btn-menu-id {
    border: 2px solid black;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 2rem;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: transform 0.5s;

    @media (max-width: 1366px) {
        margin-top: 80px;
        padding: 10px 15px;
    }

    @media (max-width: 1024px) {
        margin-top: 90px;
    }

    @media (max-width: 823px) {
    }

    @media (max-width: 812px) {
    }

    @media (max-width: 768px) {
    }

    @media (max-width: 736px) {
    }

    @media (max-width: 720px) {
    }

    @media (max-width: 667px) {
    }

    @media (max-width: 653px) {
    }

    @media (max-width: 640px) {
    }

    @media (max-width: 568px) {
    }

    @media (max-width: 540px) {
    }

    @media (max-width: 414px) {
        font-size: 1.25rem;
    }

    @media (max-width: 375px) {
    }

    @media (max-width: 360px) {}

    @media (max-width: 320px) {
        font-size: 1rem;
    }

    @media (max-width: 280px) {
        font-size: 0.9rem;

    }
}

.btn-menu-id:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

/* BOUTONS RETOUR HAUT DE PAGE */

.cRetour {
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background: rgb(255, 204, 51);
    z-index: 99999;
    transition: all ease-in 0.2s;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    display: none;
}

.cRetour:before {
    content: "\25b2";
}

.cRetour:hover {
    background: #d9524a;
    transition: all ease-in 0.2s;
}

/* 1. PAGE ACCUEIL */

/* INTRO */

.presentation {
    @include cadre (75%);
    margin-top: 60px;
    text-align: center;

    @media (max-width: 1366px) {
        margin-top: 65px;
    }

    @media (max-width: 1024px) {
        @include cadre (85%);
        margin-top: 10px;
    }

    @media (max-width: 823px) {
        margin-top: -25px;
    }

    @media (max-width: 812px) {
        margin-top: -30px;
    }

    @media (max-width: 768px) {
        margin-top: 15px;
    }

    @media (max-width: 736px) {
        margin-top: 0;
    }

    @media (max-width: 720px) {
        margin-top: 0;
    }

    @media (max-width: 667px) {
        margin-top: -25px;
    }

    @media (max-width: 653px) {
        margin-top: -30px;
    }

    @media (max-width: 640px) {
        margin-top: -35px;
    }

    @media (max-width: 568px) {
        margin-top: -25px;
    }

    @media (max-width: 540px) {
        margin-top: -10px;
    }

    @media (max-width: 411px) {
        margin-top: -5px;
    }

    @media (max-width: 375px) {
        margin-top: 0;
    }

    @media (max-width: 360px) {
        margin-top: -20px;
    }

    @media (max-width: 320px) {
        margin-top: -35px;
    }

    @media (max-width: 280px) {
        margin-top: -20px;

    }
}

.intro {
    font-size: 2.4rem;
    margin-bottom: 60px;

    @media (max-width: 1366px) {
        font-size: 2.4rem;
    }

    @media (max-width: 1024px) {
        font-size: 2rem;
    }

    @media (max-width: 823px) {
        font-size: 1.15rem;
    }

    @media (max-width: 768px) {
        font-size: 1.8rem;
    }

    @media (max-width: 736px) {
        font-size: 1.05rem;
    }

    @media (max-width: 720px) {
        font-size: 1.4rem;
    }

    @media (max-width: 667px) {
        font-size: 0.9rem;
    }

    @media (max-width: 653px) {
        font-size: 0.9rem;
    }

    @media (max-width: 640px) {
        font-size: 1.2rem;
    }

    @media (max-width: 568px) {
        font-size: 1.05rem;
    }

    @media (max-width: 540px) {
        font-size: 1rem;
    }

    @media (max-width: 411px) {
        font-size: 1.5rem;
    }

    @media (max-width: 375px) {
        font-size: 1.35rem;
    }

    @media (max-width: 360px) {
        font-size: 1.29rem;
    }

    @media (max-width: 320px) {
        font-size: 1.15rem;
    }

    @media (max-width: 280px) {
        font-size: 1.075rem;
    }
}

.name {
    color: rgb(255, 204, 51);
}

/* LOGO */

@keyframes tipsy {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}

.logo {
    text-align: center;
    font-size: 4.5rem;
    margin: 160px auto 150px;
    padding: 50px;
    padding-top: 66px;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 80px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    position: absolute;
    top: 310px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    @media (max-width: 1366px) {
        margin: 220px auto 0;
        font-size: 4.5rem;
    }

    @media (max-width: 1024px) {
        margin: 90px auto 0;
        font-size: 4rem;
    }

    @media (max-width: 823px) {
        margin: -105px auto 0;
        font-size: 1.5rem;
        letter-spacing: -1px;
    }

    @media (max-width: 812px) {
        margin: -120px auto 0;
        font-size: 1.5rem;
        letter-spacing: -1px;
    }

    @media (max-width: 768px) {
        margin: 140px auto 170px;
        font-size: 4.5rem;
        letter-spacing: -3px;
    }

    @media (max-width: 736px) {
        margin: -105px auto 25px;
        font-size: 1.5rem;
        letter-spacing: 0;
    }

    @media (max-width: 720px) {
        margin: -30px auto 25px;
        font-size: 2rem;
        letter-spacing: -1px;
    }

    @media (max-width: 667px) {
        margin: -125px auto 15px;
        font-size: 1.4rem;
        letter-spacing: 0;
    }

    @media (max-width: 653px) {
        margin: -145px auto 15px;
        font-size: 1.4rem;
    }

    @media (max-width: 640px) {
        margin: -115px auto 15px;
        font-size: 1.4rem;
    }

    @media (max-width: 568px) {
        margin: -110px auto 15px;
        font-size: 1.4rem;
    }

    @media (max-width: 540px) {
        margin: -45px auto 20px;
        font-size: 2.4rem;
    }

    @media (max-width: 414px) {
        margin: -25px auto 20px;
        font-size: 2.4rem;
    }

    @media (max-width: 411px) {
        margin: 40px auto 20px;
        font-size: 2.4rem;
    }

    @media (max-width: 375px) {
        margin: 40px auto 0;
    }

    @media (max-width: 360px) {
        margin: -40px auto 20px;
        font-size: 1.4rem;
    }

    @media (max-width: 320px) {
        margin: -75px auto 0;
        font-size: 1.4rem;
    }

    @media (max-width: 280px) {
        margin: -20px auto 0;
    }
}

.logo:before,
.logo:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid #d9524a;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;

    @media (max-width: 823px) {
        border: 9px solid #d9524a;
    }

    @media (max-width: 768px) {
        border: 12.5px solid #d9524a;
    }

    @media (max-width: 736px) {
        border: 5px solid #d9524a;
    }

    @media (max-width: 720px) {
        border: 7.5px solid #d9524a;
    }

    @media (max-width: 667px) {
        border: 5px solid #d9524a;
    }

    @media (max-width: 653px) {
        border: 5px solid #d9524a;
    }

    @media (max-width: 640px) {
        border: 5px solid #d9524a;
    }

    @media (max-width: 568px) {
        border: 5px solid #d9524a;
    }

    @media (max-width: 540px) {
        border: 7.5px solid #d9524a;
    }

    @media (max-width: 411px) {
        border: 7.5px solid #d9524a;
    }

    @media (max-width: 375px) {
        border: 7.5px solid #d9524a;
    }

    @media (max-width: 360px) {
        border: 5px solid #d9524a;
    }

    @media (max-width: 320px) {
        border: 5px solid #d9524a;
    }

    @media (max-width: 280px) {
        border: 5px solid #d9524a;
    }
}

.logo:before {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
}

.logo:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}

/* MENU PAGE ACCUEIL */

.menu-accueil {
    @include cadre (75%);
    margin-top: 490px;
    text-align: center;
    margin-bottom: 100px;

    @media (max-width: 1366px) {
        margin-top: 520px;
        margin-bottom: 100px;
    }

    @media (max-width: 1024px) {
        margin-top: 390px;
        margin-bottom: 80px;
    }

    @media (max-width: 823px) {
        margin-top: 200px;
        margin-bottom: 40px;
    }

    @media (max-width: 812px) {
        margin-top: 180px;
        margin-bottom: 40px;
    }

    @media (max-width: 768px) {
        margin-top: 515px;
        margin-bottom: 80px;
    }

    @media (max-width: 736px) {
        margin-top: 170px;
        margin-bottom: 40px;
    }

    @media (max-width: 720px) {
        margin-top: 250px;
        margin-bottom: 60px;
    }

    @media (max-width: 667px) {
        margin-top: 190px;
        margin-bottom: 30px;
    }

    @media (max-width: 653px) {
        margin-top: 170px;
        margin-bottom: 30px;
    }

    @media (max-width: 640px) {
        margin-top: 155px;
        margin-bottom: 30px;
    }

    @media (max-width: 568px) {
        margin-top: 160px;
        margin-bottom: 30px;
    }

    @media (max-width: 540px) {
        margin-top: 280px;
        margin-bottom: 80px;
    }

    @media (max-width: 411px) {
        margin-top: 280px;
        margin-bottom: 80px;
    }

    @media (max-width: 375px) {
        margin-top: 300px;
    }

    @media (max-width: 360px) {
        margin-top: 190px;
    }

    @media (max-width: 320px) {
        margin-top: 165px;
        margin-bottom: 60px;
    }

    @media (max-width: 280px) {
        margin-top: 230px;
        margin-bottom: 40px;
    }
}

.btn-menu {
    border: 2px solid black;
    margin: 10px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    font-size: 2rem;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: transform 0.5s;

    @media (max-width: 1366px) {
        padding: 10px 10px;
        font-size: 1.4rem;
    }

    @media (max-width: 1024px) {
        padding: 10px 10px;
        font-size: 0.95rem;
    }

    @media (max-width: 823px) {
        padding: 10px 11px;
        font-size: 0.75rem;
        margin: 5px;
    }

    @media (max-width: 812px) {
        padding: 10px 11px;
        font-size: 0.7rem;
        margin: 5px;
    }

    @media (max-width: 768px) {
        padding: 10px 11px;
        font-size: 1.5rem;
        margin: 10px;
    }

    @media (max-width: 736px) {
        padding: 10px 11px;
        font-size: 0.6rem;
        margin: 5px;
    }

    @media (max-width: 720px) {
        padding: 10px 11px;
        font-size: 0.6rem;
        margin: 5px;
    }

    @media (max-width: 667px) {
        padding: 10px 11px;
        font-size: 0.55rem;
        margin: 2.5px;
    }

    @media (max-width: 653px) {
        padding: 10px 11px;
        font-size: 0.5rem;
        margin: 5px;
    }

    @media (max-width: 640px) {
        padding: 10px 11px;
        font-size: 0.55rem;
        margin: 2.5px;
    }

    @media (max-width: 568px) {
        padding: 10px 11px;
        font-size: 0.7rem;
        margin: 10px;
    }

    @media (max-width: 540px) {
        padding: 7.5px 11px;
        font-size: 1rem;
        width: 100%;
        margin: 0 auto 25px;
    }

    @media (max-width: 411px) {
        padding: 10px 11px;
        font-size: 1rem;
        width: 100%;
        margin: 0 auto 20px;
    }

    @media (max-width: 375px) {
        padding: 10px 11px;
        font-size: 0.9rem;
        width: 100%;
        margin: 0 auto 15px;
    }

    @media (max-width: 360px) {
        padding: 7.5px 11px;
    }

    @media (max-width: 320px) {
        font-size: 0.8rem;
    }

    @media (max-width: 280px) {
        font-size: 0.6rem;
    }
}

.btn-menu:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

/* PHOTOS STYLE PELLICULE */

.photos-bloc {
    background-color: black;
    transform: skewY(-2deg);
    margin-top: 150px;

    @media (max-width: 1024px) {
        margin-top: 85px;
    }

    @media (max-width: 823px) {
        margin-top: 75px;
    }

    @media (max-width: 812px) {
        margin-top: 60px;
    }

    @media (max-width: 568px) {
        margin-top: 30px;
    }

    @media (max-width: 414px) {
        margin-top: -40px;
    }

    @media (max-width: 280px) {
        margin-top: -10px;
    }
}

.photos-videos {
    padding-top: 5px;
}

.diagonal-box {
    transform: skewX(2deg) skewY(-2deg);
    @include cadre (75%);
    padding-top: 60px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1366px) {
        padding-top: 20px;
        margin-bottom: 120px;
    }

    @media (max-width: 1024px) {
        padding-top: 30px;
        margin-bottom: 100px;
    }

    @media (max-width: 812px) {
        padding-top: 0;
        margin-bottom: 70px;
    }

    @media (max-width: 768px) {
        padding-top: 30px;
        margin-bottom: 90px;
    }

    @media (max-width: 736px) {
        padding-top: 0;
        margin-bottom: 70px;
    }

    @media (max-width: 720px) {
        padding-top: 30px;
        margin-bottom: 90px;
    }

    @media (max-width: 667px) {
        padding-top: 5px;
        margin-bottom: 75px;
    }

    @media (max-width: 653px) {
        padding-top: 35px;
        margin-bottom: 105px;
    }

    @media (max-width: 640px) {
        padding-top: 5px;
        margin-bottom: 75px;
    }

    @media (max-width: 568px) {
        padding-top: -15px;
        margin-bottom: 55px;
    }

    @media (max-width: 540px) {
        padding-top: 40px;
        margin-bottom: 90px;
    }

    @media (max-width: 411px) {}

    @media (max-width: 375px) {}

    @media (max-width: 360px) {}

    @media (max-width: 320px) {
        padding-top: 30px;
        margin-bottom: 70px;
    }

    @media (max-width: 280px) {
        padding-top: 20px;
        margin-bottom: 60px;
    }
}

.diagonal-photos-box {
    transform: skewX(2deg) skewY(0deg);
    padding-top: 50px;

    @media (max-width: 1366px) {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    @media (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    @media (max-width: 1024px) {
        padding-top: 25px;
        padding-bottom: 15px;
    }

    @media (max-width: 667px) {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    @media (max-width: 414px) {
        padding-top: 10px;
        padding-bottom: 0;
    }
}

.photo {
    width: 100%;
    padding: 0 8px;
    margin-bottom: 50px;
    -webkit-transition: .5s;
    transition: transform 0.5s;

    @media (max-width: 1366px) {
        padding: 0 3px;
        margin-bottom: 10px;
    }
}

.photo:hover {
    transform: skewX(-4deg) skewY(4deg);
    -webkit-transform: skewX(-4deg) skewY(4deg);
}

.modal-content {
    width: 1080px;
    height: 760px;
    border: 20px solid white;
    border-radius: 0;
    margin: auto;
}

.modal {
    position: fixed;
    left: -260px;

    @media (max-width: 1366px) {
        position: fixed;
        left: 0px;
    }
}

/* 2. PAGE PRESTATIONS AVEC DRONES */

/* PRESENTATION EN ACCORDEON (utilisé pour page VISITES VIRTUELLES 3D également) */

.accordion-bloc {
    background-color: none;
    border: none;
}

.accordion-header {
    @include cadre (100%);
}

.accordion-cadre-question {
    @include cadre (100%);
    background-color: rgba(0, 0, 0, 0);
    padding: 30px 20px 0;
    border: none;
}

.accordion-body {
    padding: 0 20px;
}

.fa-arrow-circle-down {
    color: rgb(255, 204, 51);
    font-size: 0.9em;
    transition: all ease-in 0.2s;
}

.fa-arrow-circle-down:hover {
    color: #d9524a;
    transition: all ease-in 0.2s;
}

/* 3. PAGE VISITES VIRTUELLES 3D */

/* 4. PAGE GALERIE */

.marge-sous-bouton-galerie {
    margin-bottom: 50px;
}

/* VIDEOS */

.videos {
    @include cadre (75%);
}

.video-1 {
    position: relative;
    overflow: hidden;
    padding-top: 56.5%;
}

.iframe-responsive-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.video-2 {
    position: relative;
    overflow: hidden;
    padding-top: 56.5%;
}

.iframe-responsive-2 {
    position: absolute;
    top: 0;
    left: 0;
}

.video-3 {
    position: relative;
    overflow: hidden;
    padding-top: 56.5%;
}

.iframe-responsive-3 {
    position: absolute;
    top: 0;
    left: 0;
}

.video-4 {
    position: relative;
    overflow: hidden;
    padding-top: 56.5%;
}

.iframe-responsive-4 {
    position: absolute;
    top: 0;
    left: 0;
}

/* 5. PAGE CONTACT */

.marge-bouton-contact {
    margin-bottom: 40px;
}

.bloc-contact {

    @media (max-width: 1366px) {
        margin-top: 200px;
        margin-bottom: 83px;
    }

    @media (max-width: 1024px) {
        margin-top: 370px;
        margin-bottom: 255px;
    }

    @media (max-width: 1024px) and (max-height: 768px) {
        margin-top: 220px;
        margin-bottom: 0;
    }

    @media (max-width: 823px) {
        margin-top: 0;
        margin-bottom: 0;
    }

    @media (max-width: 768px) {
        margin-top: 135px;
        margin-bottom: 0;
    }
}

i {
    color: white;
    margin-right: 10px;
}

.mail {
    color: rgb(255, 204, 51);
    transition: all ease-in 0.2s;
}

.mail:hover {
    color: #d9524a;
    transition: all ease-in 0.2s;
}

.contacts {
    text-align: center;
}

/* 6. FOOTER */

.agence {
    color: rgb(255, 204, 51);
    transition: all ease-in 0.2s;
}

.agence:hover {
    color: #d9524a;
    transition: all ease-in 0.2s;
}

footer {
    background: black;
    padding-top: 50px;

    @media (max-width: 1024px) {
        margin-top: 180px;
    }

    @media (max-width: 812px) {
        margin-top: 40px;
    }

    @media (max-width: 768px) {
        margin-top: 120px;
    }

    @media (max-width: 736px) {
        margin-top: 60px;
    }

    @media (max-width: 720px) {
        margin-top: 80px;
    }

    @media (max-width: 667px) {
        margin-top: 40px;
    }

    @media (max-width: 653px) {
        margin-top: 40px;
    }

    @media (max-width: 640px) {
        margin-top: 40px;
    }

    @media (max-width: 568px) {
        margin-top: 40px;
    }

    @media (max-width: 540px) {
        margin-top: 80px;
    }

    @media (max-width: 411px) {}

    @media (max-width: 375px) {}

    @media (max-width: 360px) {}

    @media (max-width: 320px) {
        margin-top: 60px;
    }

    @media (max-width: 280px) {
        margin-top: 40px;
    }
}

.footer {
    @include cadre (75%);
    text-align: center;

    @media (max-width: 1024px) {
        font-size: 1.3rem;
    }

    @media (max-width: 812px) {
        font-size: 1.3rem;
    }

    @media (max-width: 768px) {
        font-size: 1.3rem;
    }

    @media (max-width: 736px) {
        font-size: 1.3rem;
    }

    @media (max-width: 720px) {
        font-size: 1.3rem;
    }

    @media (max-width: 667px) {
        font-size: 1.3rem;
    }

    @media (max-width: 653px) {
        font-size: 1.3rem;
    }

    @media (max-width: 640px) {
        font-size: 1.3rem;
    }

    @media (max-width: 568px) {
        font-size: 1.3rem;
    }

    @media (max-width: 540px) {
        font-size: 1.3rem;
    }

    @media (max-width: 411px) {
        font-size: 1.3rem;
    }

    @media (max-width: 375px) {
        font-size: 1.3rem;
    }

    @media (max-width: 360px) {
        font-size: 1.3rem;
    }

    @media (max-width: 320px) {
        font-size: 1.3rem;
    }

    @media (max-width: 280px) {
        font-size: 1.3rem;
    }
}
